@import "tailwindcss";

* {
	box-sizing: border-box;
}

html,
body,
#app {
	min-height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

/* Ensure MapLibre controls are styled correctly */
.maplibregl-ctrl-group {
	background: white;
}

.maplibregl-ctrl-group button {
	background-color: white;
}
